footer a{
  color: gray;
  font-size: small;
}

footer h6{
  color: gray;
  font-weight: bold;
  margin-top: 10%;
}

footer p{
  margin-bottom: 6px;
}

footer{
  background: #F2F2F2;
}

.row{
  margin-left: 15px;

}

